<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:integration="http://www.springframework.org/schema/integration"
       xmlns:stream="http://www.springframework.org/schema/integration/stream"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
       xmlns:http="http://www.springframework.org/schema/integration/http"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/integration/jdbc http://www.springframework.org/schema/integration/jdbc/spring-integration-jdbc.xsd http://www.springframework.org/schema/integration/http http://www.springframework.org/schema/integration/http/spring-integration-http.xsd">

    <bean id="mietek" class="pl.training.integration.lab04.Barista"/>
    <bean id="zenek" class="pl.training.integration.lab04.Barista"/>
    <bean id="henio" class="pl.training.integration.lab04.Waiter"/>

    <jdbc:embedded-database id="dataSource" type="H2">
        <jdbc:script location="import.sql"/>
    </jdbc:embedded-database>

    <integration:chain input-channel="itemsToStore">
        <integration:transformer expression="payload.coffee"/>
        <integration:object-to-map-transformer/>
        <int-jdbc:outbound-channel-adapter data-source="dataSource" query="insert into items (coffeeType) values(:payload[coffeeType])"/>
    </integration:chain>

    <int-jdbc:inbound-channel-adapter data-source="dataSource" query="select * from items" channel="selectedItems">
        <integration:poller fixed-rate="10000"/>
    </int-jdbc:inbound-channel-adapter>

    <integration:channel id="selectedItems"/>

    <stream:stdout-channel-adapter channel="selectedItems" append-newline="true"/>



    <integration:gateway id="cafe" service-interface="pl.training.integration.lab04.CafeSpring"
                         default-request-channel="placedOrders"/>

    <integration:channel id="placedOrders"/>

    <integration:splitter input-channel="placedOrders" expression="payload.orderItems" output-channel="items"/>

    <integration:channel id="items"/>

    <integration:recipient-list-router input-channel="items">
        <integration:recipient channel="itemsToProcess"/>
        <integration:recipient channel="itemsToStore"/>
    </integration:recipient-list-router>

    <integration:channel id="itemsToProcess"/>

    <integration:channel id="itemsToStore"/>

    <integration:router input-channel="itemsToProcess" expression="payload.coffee.iced ? 'icedItems' : 'hotItems'"/>

    <integration:channel id="hotItems"/>

    <integration:channel id="icedItems"/>

    <integration:channel id="preparedItems"/>

    <integration:service-activator input-channel="hotItems" output-channel="preparedItems" ref="mietek" method="prepare"/>

    <integration:service-activator input-channel="icedItems" output-channel="preparedItems" ref="zenek" method="prepare"/>

    <integration:aggregator input-channel="preparedItems" ref="henio" method="serve" output-channel="delivery"/>

    <integration:channel id="delivery"/>

    <stream:stdout-channel-adapter channel="delivery"/>

    <integration:wire-tap channel="logs" pattern="*"/>
    <integration:logging-channel-adapter id="logs" level="INFO" log-full-message="true"/>

    <integration:inbound-channel-adapter channel="request" expression="''">
        <integration:poller fixed-rate="3000"/>
    </integration:inbound-channel-adapter>

    <integration:channel id="request"/>

    <http:outbound-gateway request-channel="request" reply-channel="response"
            url="http://localhost:8080/api/orders" http-method="GET"
            expected-response-type="java.lang.String"/>

    <integration:channel id="response"/>

    <integration:json-to-object-transformer input-channel="response"
                                            type="pl.training.integration.lab04.order.Order"
                                            output-channel="placedOrders"/>

</beans>