<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:integration="http://www.springframework.org/schema/integration"
       xmlns:http="http://www.springframework.org/schema/integration/http"
       xmlns:stream="http://www.springframework.org/schema/integration/stream"
       xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd http://www.springframework.org/schema/integration/http http://www.springframework.org/schema/integration/http/spring-integration-http.xsd http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd http://www.springframework.org/schema/integration/xml http://www.springframework.org/schema/integration/xml/spring-integration-xml.xsd">

    <bean id="unmarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <list>
                <value>pl.training.integration.lab05.Entry</value>
                <value>pl.training.integration.lab05.Entries</value>
            </list>
        </property>
    </bean>

    <integration:gateway id="nbp" service-interface="pl.training.integration.lab05.NBPGateway" default-request-channel="request"/>

    <integration:channel id="request"/>

    <http:outbound-gateway url="http://www.nbp.pl/kursy/xml/a077z160421.xml" http-method="GET" expected-response-type="java.lang.String"
                           request-channel="request" reply-channel="response"/>

    <integration:channel id="response"/>

    <integration:chain input-channel="response">
        <integration:transformer expression="payload.replaceAll(',', '.')"/>
        <int-xml:unmarshalling-transformer unmarshaller="unmarshaller"/>
        <integration:splitter expression="payload.entryList"/>
        <stream:stdout-channel-adapter append-newline="true"/>
    </integration:chain>

</beans>